@font-face {
  font-family: 'Digital';
  src: url(digital-7.ttf);
  font-style: bold;
  font-weight: bold;
}

.calculator_body {
  height: 55vh;
  width: 27vw;
  margin: 10% auto 0 auto;
  padding: 2% 0 1% 0;
  border-radius: 25px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.display {
  height: 17%;
  width: 80%;
  border-radius: 15px;
  background-color: white;
  margin: 0 auto 4% auto;
  font-family: 'Digital', sans-serif;
  font-size: 8vh;
  text-align: right;
  line-height: 130%;
  padding-right: 5%;
}

.row {
  height: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

button {
  background-color: white;
  text-align: center;
  font-size: 2vw;
  border-radius: 25px;
  font-weight: 700;
}

.num, .op, .equal {
  width: 17%;
}

.clear, .clear_all {
  width: 40%;
  margin-bottom: 2%;
}